## iNeuron Python Hands on

### Assignment 1:

## Task 1:

#### Q1

Install Jupyter notebook and run the first program and share the screenshot of the output.

In [151]:
# The first program is 

a = 5
b = 6
c = a+b
print(c)

11

### Q2

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line

In [26]:
nl=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5 !=0):
        nl.append(str(x))
print (','.join(nl))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [27]:
len(nl)

138

In [28]:
# Another possible way

In [177]:
passed_values = [i for i in range(2000, 3201) if not(i%7) and i%5]
print(passed_values)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [178]:
len(passed_values)

138

### Q3

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [208]:
def Name(first_name, last_name):
    print(first_name[::-1], last_name[::-1])

In [209]:
Name('Ajith', 'Kumar')

htijA ramuK

### Q4

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

In [15]:
import math
pi = math.pi

In [17]:
pi

3.141592653589793

In [25]:
r = float(input('Please Enter the diameter of a Sphere: ')) /2 # r is a radius (r/2 is a diameter)
Volume = (float(4/3)*(pi)*(r)**3)

print("\n The Volume of a Sphere = %.2f" %Volume)

Please Enter the diameter of a Sphere: 12

 The Volume of a Sphere = 904.78

## Task 2:

### Q1

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [44]:
nums = input('Please enter the numbers to create a list: ')
list = nums.split(',')
print(list)

Please enter the numbers to create a list: 12, 13, 14
['12', ' 13', ' 14']

In [45]:
type(list)

list

### Q2

In [ ]:
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [37]:
rows = int(input("Please Enter maximum * to be printed on a single line "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Please Enter maximum * to be printed on a single line 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Q3

Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [38]:
def reversable_value(a):
    print(a[::-1])

In [41]:
reversable_value('ABcDeFGHiJk')

kJiHGFeDcBA

### Q4

In [ ]:
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [45]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens